Package: com.haxonate.haxobar
Name: Haxobar
Depends: mobilesubstrate, preferenceloader
Version: 0.0.1
Architecture: iphoneos-arm
Description: Gestures13
Maintainer: Haxonate
Author: Haxonate
Section: Tweaks
