Package: com.haxonate.haxobar
Name: Haxobar
Depends: mobilesubstrate, preferenceloader
Architecture: iphoneos-arm
Description: iPhone X gestures for all devices
Maintainer: Haxonate
Author: Haxonate
Section: Tweaks
Version: 0.0.1
Installed-Size: 152
